{{ from lib.w2ui import menu, user_color }}


{{ color = "green" or user_color(db, auth) }}
{{ if color: }}

    <style type="text/css">

        #header, div.flash, a.button:hover, .web2py_grid thead th, .th, .button:hover, .btn:hover,
        div.paginator span.current_page, .chosen-container .chosen-results li.highlighted {
            background-color: {{ =color }};
        }
        #footer {
            background: linear-gradient(to bottom, #ffffff 0%, {{ =color }} 100%);
        }
        .web2py_table, .btn, div.paginator a, .ui-widget-content div.paginator a, div.paginator span.current_page,
        .chosen-container-active .chosen-single, .chosen-container-active .chosen-choices {
            border: 1px solid {{ =color }} !important;
        }

        {{ if IS_MOBILE: }}
            .slicknav_menu, .slicknav_menu .slicknav_icon-bar {
                background-color: {{ =color }};
            }
        {{ else: }}
            .w2ui-sidebar .w2ui-sidebar-div .w2ui-node, .w2ui-sidebar .w2ui-sidebar-div .w2ui-selected,
            .w2ui-sidebar .w2ui-sidebar-div .w2ui-selected:hover {
                background: linear-gradient(to top, #ffffff 0%, {{ =color }} 100%);
            }
            div#form-title { border-bottom: 1px solid {{ =color }}; }
            #sidebar { border-right: 1px solid {{ =color }}; }
            #menu { border-top: 1px solid {{ =color }}; }
        {{ pass }}

    </style>

{{ pass }}

<script type="text/javascript">

    {{ if not IS_MOBILE: }}
        jQuery(function(){
            jQuery('#menu').w2sidebar({
                name: 'menu',
                nodes: {{ =menu() }},
                onClick: function(event){
                    if (event.object.href){  // terminal point - load url
                        document.location = event.object.href;
                    } else if (event.object.nodes){  // parent with children - expand/collapse
                        w2ui['menu'].toggle(event.object.id);
                    }
                }
            });
            // save history of expanded menu
            w2ui.menu.on('expand', function(event){
                var expanded = JSON.parse(localStorage.getItem('expandedMenu') || "[]");
                if (expanded.indexOf(event.object.id) == -1){
                    expanded.push(event.object.id);  // remember as expanded menu
                }
                localStorage.setItem('expandedMenu', JSON.stringify(expanded));
            });
            w2ui.menu.on('collapse', function(event){
                var expanded = JSON.parse(localStorage.getItem('expandedMenu') || "[]");
                var i = expanded.indexOf(event.object.id);
                if(i != -1){
                    expanded.splice(i, 1); // remove from expanded list
                }
                localStorage.setItem('expandedMenu', JSON.stringify(expanded));
            });
            // expand all previously expanded items
            jQuery(JSON.parse(localStorage.expandedMenu || "[]")).each(function(){
                if (w2ui['menu'].get(this)){
                    w2ui['menu'].expand(this);
                }
            });
            // resize menu on window resize
            jQuery(window).on('resize', function(){
                w2ui['menu'].resize();
            });
        });
    {{ pass }}
    
</script>
