{{ extend SEARCHING_GRID }}

{{ block js }}
    {{ from gluon.serializers import json }}
    <script type="text/javascript">

        var {{=cid}}__w2grid_options = {
            // url: "{{ =URL(request.controller, request.function+'_grid.json', user_signature=True) }}",
            url: "{{ =URL(request.controller, grid_function+'.json', vars={'_grid':True, 'data_name':data_name}, user_signature=True) }}",
            columns: {{=XML(json(w2grid_columns)) }},

            sortData: {{=XML(json(w2grid_sort)) }},
            
            {{ block w2ui_grid_actions }} 
            
            show: {
                {{ if DBG() or auth.has_permission('add', data_name ): }}
                    toolbarAdd: true,
                {{ pass }}
                {{ if DBG() or auth.has_permission('edit',  data_name): }}
                    toolbarEdit: true,
                {{ pass }}
                {{ if DBG() or auth.has_permission('delete', data_name): }}
                    toolbarDelete: true,
                {{ pass }}
            },
            
            onAdd: function(event){
                // addUser();
                //ajaxForm_popup(popup_name, title, form_name, url, data, options)
                ajaxForm_popup(  
                              "{{ =data_name }}", 
                              "{{ =T( request.controller +'_'+ data_name +'__add_form' ) }}", 
                              "add_{{ =data_name }}",
                              "{{ =URL(request.controller, 'add_' + data_name) }}"
                               );
                
            },
            onEdit: function(event){
                var url = URL({'c': '{{=request.controller}}', 'f': 'edit_'+'{{=data_name}}' , 'args[]': [event.recid]});
                if (event.newWindow){
                    openTab(url);
                } else {
                    document.location = url;
                }
        // function editTransferGood(rid){
            // ajaxForm_popup("good", "{{ =T('warehouse_transfer_good__edit_form') }}", "edit_good",
                           // URL({c: "warehouse", f: "edit_transfer_good", "args[]": [rid], user_signature: true}));
        // }                
            },
            {{ end }}
            
            {{ block w2ui_grid_extra_options }} 
            {{ end }}
        };

    $(function() {
        w2ui__grid('{{=cid}}');
    });
    </script>

{{ end }}


{{ block after_grid }} 
{{=response.toolbar()}}
{{ end }}
